name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Start Spring Boot application
        run: ./gradlew bootRun &
      - name: Wait for application to start
        run: sleep 20
      - name: Generate OpenAPI Client
        run: ./gradlew generateClient --no-daemon
      - name: Build and Test with Gradle
        run: ./gradlew build --no-daemon
      - name: Test with Gradle
        run: ./gradlew check --no-daemon
      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports/tests/test/
      - name: Cleanup Gradle Cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties